body {
  background-color: rgb(47, 79, 79);
  font-size: 20px;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'sans_pro';
  src: url('sans_pro/sourcesanspro-regular-webfont.ttf');
  src: url('sans_pro/sourcesanspro-regular-webfont.ttf') format('truetype');
/*  src: url('sans_pro/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('sans_pro/sourcesanspro-regular-webfont.woff') format('woff'),
       url('sans_pro/sourcesanspro-regular-webfont.ttf') format('truetype'),
       url('sans_pro/sourcesanspro-regular-webfont.svg#sans_pro') format('svg');
*/
}

.logo-text {
  background: rgb(119, 136, 153);

  font-family: sans_pro;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.thumbnail-item + .thumbnail-item {
  margin-top: 10px;
}

.thumbnail-item {
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.2);
  display: block;
}

.thumbnail-list {
  list-style: none;
  padding: 0;
}

.thumbnail-image {
  display: block;
  list-style: none;
  width: 100%;
}

.thumbnail-title {
  background: rgb(119, 136, 153);
  color: rgb(0, 0, 0);
  display: block;
  font-size: 17px;
  margin: 0;
  padding: 4px 10px;
}
